[2015-04-03 00:56] ChengTian opened #12 "GET and POST method is always enabled for CORS?"
Create a simple MVC web app with the following code
[code]
as the only CORS-related configuration.
Then apply `[EnableCors("AllowMyMethodRequest")]` to an action in your controller and try accessing view of that action. Here are the methods I used and corresponding results:
(1) GET: succeeds (why?)
(2) POST: succeeds (why?)
(3) HEAD: fails (expected)
(4) MYMETHOD: succeeds (expected)

[2015-04-03 16:33] harshgMSFT commented on #12
Here is what I saw, since you are using a local scriptiong source, the browser is sending Origin header as null
something like
[code]

The response is
[code]
Now the reason why we get a Access-Control-Allow-Origin: * is because the presence of ORIGIN causes
`var origin = context.Request.Headers.Get(CorsConstants.Origin);`
to return an empty value.

The reason why you do not see a content in respon

[2015-04-03 17:38] ChengTian commented on #12
I am seeing the same behavior. Thanks for the explanation.

Add more clarification from @harshgMSFT :
When `AllowAnyOrigin()` is used, GET, POST and HEAD methods should be automatically enabled. That's why GET and POST should work in the repro steps.

[2015-04-03 17:38] #12 closed

[2015-04-03 20:07] harshgMSFT commented on #12
This statement is not true.
For simple requests, the only thing that matters (in this context)  is whether the value in the ORIGIN header matches. It does not matter for which HTTP verb the simple request is for.

[2015-04-24 21:06] davidpeden3 opened #14 "What is the purpose of separating AddCors and ConfigureCors?"
Why doesn't `AddCors` just take an optional `CorsOptions`?

[2015-04-27 03:17] Eilon commented on #14
I think this is the general pattern that's used throughout all the new components. The idea is that you'd only ever call `AddXyz` once (you need the services it adds only once - adding them more than once does nothing), but you can call `ConfigureXyz` multiple times to have different bits of your app participate in the configuration of that component.

[2015-04-30 16:50] #14 closed

[2015-05-12 12:56] AlexZeitler opened #18 "CORS only works with policy.WithOrigins("*");"
I tried the CORS middleware on DNX Beta 4 / Ubuntu / Kestrel and I registered CORS in `ConfigureServices`:
`services.AddCors();`

And in ```Configure``` I configured it - when using this, it works from my Angular App:

[code]

But the following doesn't work:

[code]

I'm I doing something wrong?

[2015-05-12 13:00] AlexZeitler commented on #18
Looks like there has been another issue with the host, seems to work now also with `AllowAnyOrigin`.
Sorry for the trouble ;)

[2015-05-12 13:00] #18 closed

[2015-05-12 16:44] danroth27 opened #19 "Chrome treats any non-200 responses to preflight requests as a failure"
From @sandorfr (originally filed as aspnet/mvc#2542)

Looks like the current implementation of cors return a 204 for preflight request and it looks like Chrome considers any non-200 being a failure. Doing some quick research on the web I've seen that there is discussions about what should be the good behavior but what I'm sure of is that we need that to just work. Maybe we should be able to config

[2015-05-12 18:28] sandorfr commented on #19
There is a sample request
**Request headers**
[code]
**Answer Headers**
[code]

After further search I'm wondering if it is really the 204 which causes the failure. Infomartion I've found about this is actually old ( such as https://bugzilla.mozilla.org/show_bug.cgi?id=845881). But I noticed One big difference between your implementation and mine. I'm setting this headers `Access-Control-Allow-Ori

[2015-05-17 17:06] MiguelLattuada opened #20 "CORS policy.WithOrigins("...") does not work?"
Apparently the method AllowAnyOrigin() works fine adding the "Access-Control-Allow-Origin: * " header to the response.

![allowanyorigin](https://cloud.githubusercontent.com/assets/5618566/7671243/a2018278-fc9c-11e4-8648-f838972470bf.png)

But what's going on with WithOrigins("..."), It does not add the "Access-Control-Allow-Origin: ... " header to the response.

![withorigins](https://cloud.githu

[2015-05-21 11:45] guigobavaresco commented on #19
Similar issue of @sandorfr. Using beta 4, setting headers, receiving 204 for preflight request, run and tested with Chrome, future POST does not occurs and ```No 'Access-Control-Allow-Origin' header is present on the requested resource.``` appears on console.

Source
[code]

Before this, I was using the source below:

[code]
and a strange situation appears: preflight request was hitting Controller

[2015-05-26 22:27] sandorfr commented on #19
@danroth27 Just letting you know I'm willing to work on a fix for that issue if you want so.

[2015-05-29 21:47] harshgMSFT commented on #20
Did you configure your policy on the action that you are calling?
This should not be happening and you should see `  "Access-Control-Allow-Origin: http://localhost:9000/ " Can you share your repro application?

[2015-05-29 21:57] harshgMSFT commented on #19
@sandorfr not sure what you are observing, from your response headers, it seems that you are missing required headers (which might be because your policy didnt match) and hence are seeing an error.
Here is a preflight request that I sent and the sample response:

Pre flight Request
[code]

Pre-Flight Response
[code]

Actual request :
[code]

Actual response
[code]

It will be helpful if you share

[2015-05-29 23:26] harshgMSFT commented on #19
@rsbavaresco

There is a problem in the way you are configuring your application. You are configuring cors within mvc as well as adding a cors middleware, was that intentional? I am inclined to think otherwise.

##### Here is how you configure just the middleware
https://github.com/aspnet/Mvc/blob/dev/test/WebSites/CorsMiddlewareWebSite/Startup.cs

##### Here is how you configure just mvc for cors

[2015-06-01 14:22] rsbavaresco commented on #19
@harshgMSFT thanks for your time.

Now I have a CorsMiddleware and a simple policy applied for entire application, only what is shown below, nothing more confs.
[code]
At Chrome, the result of above confs is the same as my previous post, and comma separated string array does not have effect.

1) GET method does not makes Preflight and works, Response with 200 OK.
2) POST method makes Preflight. He

[2015-06-01 14:28] brockallen commented on #19
FWIW, the spec says that 204 is a valid preflight response code: http://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0

[2015-06-01 16:29] harshgMSFT commented on #19
@rsbavaresco
Your preflight response tells me that your policy did not match. That is why you have a 204 and no AccessControl headers .. (and that is why your second call does not go through).
I am curious though,GET, POST are a simple request unless you are sending custom headers, or content type http://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0
so if you are just chaging the verb

[2015-06-02 01:33] sandorfr commented on #19
Hi,

I was able to point to the root cause of my policy to be rejected. Apparently, if we want to use `WithHeaders` instead of `AllowAnyHeaders` we also have to specify some standard headers such as "accept".

Not working :
[code]

Working :
[code]

So basically there is no issue (just something worth noting in the upcoming documentation).

BTW, the Options Handler will trap a lot of people especi

[2015-06-02 12:02] rsbavaresco commented on #19
@sandorfr that's it!

[2015-06-02 16:33] harshgMSFT commented on #19
@danroth27 lets ensure that this gets documented.

[2015-06-02 16:33] #19 closed

[2015-06-04 07:42] henkmollema commented on #20
This actually does work, but obviously only if you configure the policy. For example:
[code]

[2015-06-10 22:26] harshgMSFT opened #22 "Access-Control-Allow-Headers shows as two separate headers which makes IE not process a cors response."
Moving the bug from https://github.com/aspnet/Home/issues/640
@esyorcho
I've been trying to "tie" both headers together (authentication and content-type), so that they show up in one line like:

Access-Control-Allow-Headers: content-type, authorization

But no matter what I did, they were being separated in 2 lines. I removed the authorization header from my first call (the login) since I didn't n

[2015-06-10 22:28] harshgMSFT commented on #22
@esyorcho can you please post your policy again? Are you sure you are not adding the `Access-Control-Allow-Headers` yourself? This is a response header and not a request header.
Have you added a `Access-Control-Allow-Headers` in the WithHeaders policy?

[2015-06-10 22:32] Tratcher commented on #22
https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNet.Cors.Core/CorsService.cs#L147-L154
@harshgMSFT The headers are being added as a list of array values. This results in them being sent as multiple headers. If you need one header they need to be added as a single array element `"value1, value2"`

[2015-06-10 22:35] harshgMSFT commented on #22
ah I see .. yeah makes sense...

[2015-06-12 13:18] esyorcho commented on #22
Hi @harshgMSFT and @Tratcher ,
I've been trying to add them as 1 header but I couldn't.
We have in startup application:

app.UseCors(policy => policy.WithOrigins("http://domain1.com", "http://localhost:2025").AllowAnyMethod().AllowAnyHeader().AllowCredentials());

Then we add the authorization header this way:

var authHeader = "";//"basic ";
authHeader += veropathStorageFactory.get("token") ? JSO

[2015-06-12 17:31] harshgMSFT commented on #22
@esyorcho yes we know and there needs to be a fix in the lines pointed out by @Tratcher . Well be sending out a fix soon.

[2015-06-17 16:47] #20 closed

[2015-06-22 10:16] esyorcho commented on #22
Thank you very much guys

[2015-06-23 22:08] Eilon commented on #22
@kichalla I'm donating this bug to @harshgMSFT

[2015-06-24 17:03] harshgMSFT commented on #22
b1ade8f2cf2e0fec1e878eb251f8e626f2306861

[2015-06-24 17:03] #22 closed

[2015-07-24 19:07] danroth27 opened #24 "Update CORS package version"
Microsoft.AspNet.Cors is an existing package that we shipped for Katana. We should either update the version of the new functionality to 6.0.0 or use a different package ID.

[2015-07-30 11:02] logitron opened #25 "Missing CorsMiddleware"
After upgrading a project to beta6 and installing the Microsoft.AspNet.Cors.Core 1.0.0-beta6 package, there is no longer the 'UseCors' extension for using the 'CorsMiddleware' component.  'ConfigureCors' and 'AddCors' still exist, but not 'UseCors'.  I assumed this was removed, but after downloading the CORS beta6 release from GitHub, those components seem to still exist.

[2015-07-30 16:56] danroth27 commented on #25
The `UseCors` extension method is actually currently in the `Microsoft.AspNet.Cors` package.

[2015-07-30 16:56] #25 closed

[2015-07-30 16:59] danroth27 commented on #24
We decided to up the version to 6.0.0.

[2015-07-31 12:33] franguyen opened #26 "Preflight requests"
Preflight requests don't seem to work (tried with beta5 and beta6).
I have a project that uses CORS and MVC with the following Startup.cs

        public void ConfigureServices(IServiceCollection services)
        {
            services.ConfigureCors(options =>
            {
                options.AddPolicy("AllowAll",
                    builder =>
                    {
                        b

[2015-07-31 17:19] danroth27 commented on #26
I'm guessing something in IIS is handling the OPTIONS request before it even makes it to the CORS middleware. To verify try running the app on `WebListener` and see if the problem goes away.

Try adding the following to your web.config when running on IIS:

[code]

[2015-08-01 08:38] franguyen commented on #26
You got it right.

The ```web.config``` file was missing due to the project being created from the Empty template on VS.
I added a ```web.config``` with your settings and it fixed the issue.

I also got no issues running with ```WebListener```

Thanks for your help!

[2015-08-03 16:30] #26 closed

[2015-08-26 01:50] eyalsk opened #30 "Unable to resolve service for type 'Microsoft.AspNet.Cors.Core.ICorsService' while attempting to activate 'Microsoft.AspNet.Cors.CorsMiddleware'."
I'm trying to use the middleware but I'm getting the following exception.

[code]

Here is the code I'm using.
Note that I've tried multiple variations but nothing worked, I got the same exception.

[code]

Finally here is the project file.

[code]

[2015-08-26 15:11] rynowak commented on #30
You currently need a call to `services.AddCors()` in addition to `services.ConfigureCors(...)`. We're already planning on merging these two APIs to it's less redundant.

[2015-08-26 16:16] #30 closed

[2015-08-31 13:02] Elinos opened #31 "CORS middleware doesn't work if placed after MVC"
If you load CORS after MVC middleware, it's not working.
Here is my Startup.cs code:

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddCors();
            services.ConfigureCors(options => options.AddPolicy("allowAll", p => p.AllowAnyOrigin().AllowAnyHeader().AllowAnyMethod()));
            services.AddMvc();
        }

        public void Config

[2015-08-31 15:43] davidfowl commented on #31
Yes that's because middlewaee order matters. The cors middleware probably isn't running at all because mvc is handling the request.

[2015-08-31 15:43] #31 closed

[2015-08-31 15:44] davidfowl commented on #31
See http://docs.asp.net/en/latest/fundamentals/middleware.html to learn more about middleware

[2015-09-08 16:41] Eilon opened #32 "CORS header comparisons should be case-insensitive"
Per the spec:

http://www.w3.org/TR/cors/#terminology

[2015-09-09 04:24] HaoK opened #33 "AddCors should adopt new pattern"
- Nuke ConfigureCors
- AddCors should have an overload that takes `Action<CorsOptions>`

[2015-09-09 16:41] kichalla commented on #32
38728a6bcd11bfe2c5f9c1b17fde1892bf499553

[2015-09-09 16:41] #32 closed

[2015-09-09 17:05] Eilon commented on #32
@kichalla please update the labels on this issue!

[2015-09-09 17:06] kichalla commented on #32
Sure, I added `Done` label. Thanks.

[2015-09-09 17:10] Eilon commented on #32
And remove the other status labels please thanks :smile:

[2015-09-14 18:28] #33 closed

[2015-09-21 19:43] SergeyRudakov opened #36 "CORS stop working after app restart in Azure web"
Maybe this is related to asp.net 5 core and not to cors middleware but I with `UseCors()` and `[EnableCors]` options used CORS is working fine only temporarily. On Azure (probably after app restart) cors policy settings disappear and I can't access service from other domain (No 'Access-Control-Allow-Origin' header is present on the requested resource).

Here is my configuration (UseCors is placed

[2015-09-22 16:54] Eilon commented on #24
This one is Announcements worthy. People have to update their projects.

[2015-09-22 17:35] Eilon commented on #36
@kichalla can you take a look at this to see what the issue is?

[2015-09-22 17:46] Eilon commented on #24
Why re-open this?

[2015-09-22 17:47] pranavkm commented on #24
I linked to this work item as a discussion thread.

[2015-09-22 17:52] Eilon commented on #24
Yeah but this issue is fixed... it needs to be closed.

[2015-09-22 17:55] pranavkm opened #38 "[Announcement] Microsoft.AspNet.Cors version changed to 6.0.0"
Discussion thread for https://github.com/aspnet/Announcements/issues/73

[2015-09-22 17:55] #24 closed

[2015-09-22 18:10] henkmollema commented on #38
@pranavkm aspnet/Announcements#73 still links to #24, which is closed.

[2015-09-22 18:14] Asesjix opened #39 "CORS on Azure WebApp"
When I use CORS in a WebApp Azure, this is ignored.
The only thing that takes is a Web.config in "wwwroot".
Am I doing here an error or is this a bug?

ConfigureServices
[code]
Configure
[code]

[2015-09-22 18:14] pranavkm commented on #38
@henkmollema sorry about that. Fixed.

[2015-09-22 18:18] henkmollema commented on #38
Great! :smile:

[2015-09-22 22:54] Eilon commented on #39
@Asesjix can you explain what you're seeing that doesn't work? Are you getting an error?

[2015-09-23 11:58] Asesjix commented on #39
I get the normal "CORS origin" error.
A solution only bring the adaptation of Web.config.
However, then work indeed GET operations but at a post I always get NULL.
Although then function GET operations, POST operations, I always get NULL in the controller.

[code]

[2015-09-23 17:25] Eilon commented on #39
@kichalla can you take a look?

[2015-09-23 19:56] kichalla commented on #36
@SergeyRudakov Which version of asp.net 5 are you using...beta7? also couple of things:

- You need not use `app.UseCors("allowAll");` middleware here as its only supposed to be used when you are not using Mvc.
- You need not call `services.AddCors()` here as `AddMvc` internally already does that.

[2015-09-23 20:53] Asesjix commented on #39
I will try to provide a sample project, but I do not know when I have time for.

[2015-09-23 20:55] kichalla commented on #39
@Asesjix What happens if you remove the line `app.UseCors("Default");`?

[2015-09-23 20:58] davidfowl commented on #39
WithOrigins normally includes the scheme doesn't it?

[2015-09-23 20:59] davidfowl commented on #39
e.g.
[code]

[2015-09-23 21:00] kichalla commented on #39
:+1:  on what @davidfowl mentioned

[2015-09-23 21:37] SergeyRudakov commented on #36
I'm using beta7. And yeah, it works fine without services.AddCors(). So now I only have Cors policy configuration and [EnableCors("allowAll")] attribute added to the base controller.
Thank you,

I think we can close this issue, just wanted to let you know that in case everything is turned on it also works but only for a while.

[2015-09-24 00:08] kichalla commented on #36
Thanks for confirming. Closing the issue now.

[2015-09-24 00:08] #36 closed

[2015-09-24 08:12] Asesjix commented on #39
I'm sorry guys. The scheme was included in my code, missing only in my post. This was also not the fault but the configuration for the handler in the web.config. The Web.config must be lost in a commit. I found the bug when creating a [sample application](https://github.com/Asesjix/AspNet/commit/aec6fdcb709078628bd10a1f80e45b21fe947089) ;-)
[code]

[2015-09-24 08:13] #39 closed

[2015-10-02 04:55] Eilon opened #41 "API review updates for CORS"
In particular, a lot of types need to move out of the `Cors.Core` namespace. The main `Cors` namespace should have the most commonly used types, and plumbing can go into a sub-namespace.

[2015-10-03 05:38] Eilon commented on #41
Met with @kichalla @rynowak and @danroth27 with these conclusions:

- [ ] Merge both packages into `Microsoft.AspNet.Cors`.
 - The current package separation in practice provided very little value, and unfortunately was self-defeating with respect to the original purpose of having two packages: to encourage developers using MVC to use just the parts MVC needed. Unfortunately it was most common to

[2015-10-03 06:12] davidfowl commented on #41
Nice

[2015-10-08 23:17] snapbatch commented on #38
@pranavkm @Eilon  I am having issues adding two dependencies to support
"Microsoft.AspNet.Cors": "6.0.0-beta8-15719",
and

"Microsoft.AspNet.Cors": "5.2.3",
 "dependencies": {
                "Microsoft.AspNet.Cors": "6.0.0-beta8-15719",
                "Microsoft.AspNet.Cors": "5.2.3",
}

If I remove 1 the other fails. Is there a way to support both?

[2015-10-08 23:22] pranavkm commented on #38
Dnx does not allow a project to reference two versions of the same package.

[2015-10-08 23:24] snapbatch commented on #38
@pranavkm they cant be the same package because when I remove 5.2.3 I lose support for System.Web.Cors, but when I remove beta-8 I looks support for IApplicationBuilder.UseCors

[2015-10-08 23:27] snapbatch commented on #38
Ive created our own CorsPolicy which is implementing ICorsPolicyProvider which required Microsoft.AspNet.Cors": "5.2.3

[2015-10-08 23:30] pranavkm commented on #38
Running ASP.NET 4.6 components inside of DNX isn't supported. You'd need to port your class library to target the policy provider in Microsoft.AspNet.Cors.Core - https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNet.Cors.Core/ICorsPolicyProvider.cs

[2015-10-09 00:04] snapbatch commented on #38
Thanks @pranavkm does the dnx support ICorsPolicyProviderFactory? I am trying to set my cors using the method HttpConfiguration.SetCorsPolicyProviderFactory

[2015-10-09 00:16] pranavkm commented on #38
Add your custom provider to the DI container in Startup -
[code]

[2015-10-09 00:24] snapbatch commented on #38
@pranavkm thanks all set.

[2015-10-15 20:17] #41 closed

[2015-10-15 20:55] kichalla opened #43 "[Announcement] Microsoft.AspNet.Cors.Core package merged into Microsoft.AspNet.Cors"
Discussion thread for the announcement: https://github.com/aspnet/Announcements/issues/81

[2015-10-15 23:53] Kagamine opened #44 "Why not change the title of repo from CORS into Cors？"

[2015-10-16 17:04] Eilon commented on #44
Because it doesn't matter, and GitHub accepts both :smile:

[2015-10-16 17:04] #44 closed

[2015-10-19 11:46] sandorfr opened #45 "Preflight request seems to require authentication (beta7)"
It appears that preflight requests require authentication. I'm currently using the bearer token middleware. Chrome does not provide the credentials when issuing preflight request but if I don't provide the authorization header, the preflight (OPTIONS) fails with 401. ( I tried with and without AutomaticAuthentication).

So I guess this is a configuration issue. I tried to move AddCors to the very

[2015-10-19 11:47] davidfowl commented on #45
The order is only relevant in Configure not ConfigureServices

[2015-10-19 11:53] DAllanCarr commented on #45
Im not sure if this is chrome specific behaviour with AllowAnyOrigin.
http://stackoverflow.com/questions/19743396/cors-cannot-use-wildcard-in-access-control-allow-origin-when-credentials-flag-i

[2015-10-19 12:13] sandorfr commented on #45
@davidfowl this was what I thought but I tried anyway.

@DAllanCarr  Actually it appears that the chrome behavior is correct. "Additionally, for credentialed HTTP requests it needs to be opt-in to prevent leaking potentially-sensitive data." : https://fetch.spec.whatwg.org/#preflight-request

The issue seems to be with either CorsMiddleware which should intercept OPTIONS before authentication or t

[2015-10-19 15:16] DAllanCarr commented on #45
Have you disabled authorization on the server just to check the preflight response.

[2015-10-19 17:24] ChristianLegault commented on #45
Having same issue trying to use OAuthBearerAuthentication. Disabling authorizations as no effect.

[2015-10-19 18:22] DAllanCarr commented on #45
Step is to know why it is preflighting which in this case is due to the authorization header being sent.

[2015-10-20 16:54] danroth27 commented on #45
@sandorfr Can you show us what your Configure method looks like?

[2015-10-20 17:41] Flavien opened #46 "No CORS headers sent in case of error 500"
When the controller throws an exception, which results in an error 500, the CORS headers are not sent.

Is that by design? If so, why? If not, that's probably a bug.

[2015-10-20 21:39] kichalla commented on #45
+1 @sandorfr could you share how your Configure method looks like?

[2015-10-21 00:06] anwalkers opened #47 "beta8: Using string[] to add policy at startup."
I am trying to take advantage of the config.json, config.Development.json, and config.Production.json to manage the allowed CORS origins for a set of services.

In my startup function I read in the config.{env.EnvironmentName}.json that is in the Properties > launchSettings.json file. In this case I have the ASPNET_ENV environment variable set to "Development".

<pre><code>
        public Startup(

[2015-10-21 08:19] barriestewart commented on #46
I just upgraded from beta7 -> beta8 and was wondering why CORS worked for most of my requests but one was showing as an error in Chrome with the response containing no `Access-Control-Allow-Origin` header. As was the case with @Flavien, it turns out my controller was throwing an exception resulting in a 500 with no CORS headers. I wish I had read this issue before spending 30 minutes trying differ

[2015-10-21 15:33] anwalkers commented on #47
Okay, I am feeling really dumb... The trailing slash was the problem...

Should be **"http://localhost:5000"** was **"http://localhost:5000/"**

[2015-10-21 15:33] #47 closed

[2015-10-30 03:28] Eilon commented on #45
@sandorfr can you share more of your app?

[2015-10-30 03:31] Eilon commented on #46
@kichalla can you check this out and figure out what the correct behavior should be?

[2015-10-30 03:35] kspearrin commented on #46
This may be happening with any non-200 response. I too am seeing it on 400s.

[2015-10-30 13:57] sandorfr commented on #45
@Eilon  sorry I'm had too much on my plate and had to workaround the issue but I just migrated to beta8. I'll verify that it is still occuring and provide a repro project during the weekend.

[2015-10-30 16:20] Eilon commented on #45
Thanks!

[2015-11-02 10:13] stephenstroud commented on #46
I'm not getting any responses with 200 response. Configuration as follows:

Using:      "Microsoft.AspNet.Cors": "6.0.0-rc1-15825"

           services.AddCors();

                app.UseCors(builder =>
                    builder.WithOrigins("*")
                           .WithMethods("*")
                           .WithHeaders("*")
                           .WithExposedHeaders("*"));

Anythin

[2015-11-03 21:45] kichalla commented on #45
I am able to repro this scenario. More info below:

1. Following was the preflight request which I tried with
[code]

2.
Cors config
[code]
On my controller
[code]

Test auhorization filter (this blindly sets the result here causing authorization to fail):
[code]

**Result**: When I send the above preflight request, the above test authorization filter kicks in and I get a 401

As a workaround I us

[2015-11-03 23:05] dallancarr commented on #45
👍

[2015-11-11 00:29] kspearrin commented on #46
Further investigation has shown me that this only seems to be happening on responses outside of the MVC pipeline. For example, I can return a status of 400 from a controller and do not have this issue, however, if I return a status of 400 from `UseExceptionHandler` middleware, CORS is not respected.

[2015-11-11 23:33] Eilon opened #49 "Delete samples folder"
The samples don't show anything except for API usage.

[2015-11-13 17:35] ryanbrandenburg commented on #49
Fixed in #50

[2015-11-13 17:35] #49 closed

[2015-11-18 00:24] kichalla commented on #46
This is by design due to the following reasons:
- Even if we decide to support a feature for this scenario, sending full exception details across origins is probably not a good idea.
- In the scenario where an exception is thrown in MVC (ex: controller's action), then you could write an exception filter to handle the exception and sanitize the outgoing message...for example, you could send out a j

[2015-11-18 01:14] #46 closed

[2015-11-18 01:26] kspearrin commented on #46
This is what I am trying to achieve with the `UseExceptionHandler`. I guess I just can't use that then?

[2015-11-18 01:48] kspearrin commented on #46
For future reference,I was able to achive this with @kichalla's recommendation by using an `ExceptionFilterAttribute`:

    public class ExceptionHandlerFilterAttribute : ExceptionFilterAttribute
    {
        public override void OnException(ExceptionContext context)
        {
            var errorModel = new ErrorResponseModel { Message = "An error has occured." };

            var exception = c

[2015-11-18 03:47] Eilon commented on #46
Right, an MVC exception filter is the place to do this.

[2015-11-18 19:00] kichalla commented on #45
85080ae621193f3bdd10eb83b1141b0809ea5e17

[2015-11-18 19:00] #45 closed

[2015-11-20 17:50] wouterdevinck opened #51 "Missing null check in CorsPolicyBuilder"
The Combine method in in CorsPolicyBuilder is missing a null check on policy.PreFlightMaxAge: https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNet.Cors/CorsPolicyBuilder.cs#L183

[2015-11-20 20:20] Eilon commented on #51
@wouterdevinck nice catch!

@kichalla please make sure to add a test for this as well.

[2015-11-24 17:23] #51 closed

[2015-12-04 18:35] Fosol opened #55 "CORS rc1-final - Not working"
My CORS configuration no longer appears to work in rc1-final.  None of my responses are including the headers for ACCESS-CONTROL.

Did something change in rc1-final?

[2015-12-04 22:29] buraktamturk commented on #55
It does work. It requires additional step to work like using app.UseCors() while configuring the services. Previously, app.AddCors() were enought.

[2015-12-04 22:45] Fosol commented on #55
I'll have to take your word for it until I can find more time to test.
[code]
and
[code]
For some reason nothing was coming back with headers.

Thanks for responding though.

[2015-12-04 22:45] #55 closed

[2015-12-09 01:59] TonyWoo opened #56 "CORS is not enabled when there is any error occured"
I enabled the CORS support using Microsoft.AspNet.Cors.Core(6.0.0-beta8) and Microsoft.AspNet.Cors (6.0.0-rc1-final) in a ASP.NET 5 RC1 project.

It is ok when the api called succeeded.

But when I use JWT bearer middleware and provided a invalid token, the middleware throw an 500 error, then the CORS is not enabled, no Access-Control-Allow-Origin in the HTTP headers.  Can you help how to add the

[2015-12-10 18:21] andrevlins commented on #56
I'm having the same issue with RC1

[2015-12-15 00:50] Eilon commented on #56
@kichalla any idea?

[2015-12-15 16:46] kichalla commented on #56
@TonyWoo @andrevlins  Can you share how your Startup's Configure method looks like?

Are you using Cors by doing `UseCors` (in which case you would be using Cors middleware) or not (in which case Mvc middleware itself has Cors support)?

[2015-12-21 17:59] kichalla commented on #56
@TonyWoo @andrevlins Closing this now. Feel free to re-open it if you still see an issue and also please provide some repro code.

[2015-12-21 17:59] #56 closed

[2015-12-21 19:24] andrevlins commented on #56
My problem was solved using https://github.com/aspnet/CORS/issues/46 solution.

[2015-12-21 19:28] kichalla commented on #56
Good to know. Thanks!

[2016-01-12 18:02] Tratcher opened #60 "Cors requires authorization on preflight"
_From @shederman on January 8, 2016 7:11_

The W3 spec clearly states that this should not be the case.

[code]

_Copied from original issue: aspnet/Security#648_

[2016-01-12 18:02] Tratcher commented on #60
_From @shederman on January 8, 2016 7:14_

			services.AddCors(options =>
			{
				options.AddPolicy("CorsPolicy", builder =>
				{
					builder.AllowAnyHeader()
					.AllowAnyMethod()
					.AllowAnyOrigin()
					.AllowCredentials();
				});
			});

			app.UseCors("CorsPolicy");

[2016-01-12 18:02] Tratcher commented on #60
_From @davidfowl on January 8, 2016 8:29_

/cc @kichalla

[2016-01-12 18:02] Tratcher commented on #60
_From @blowdart on January 12, 2016 12:6_

This is a CORS bug. Please recreate the issue in the CORS repo.

https://github.com/aspnet/CORS

[2016-01-18 00:12] rms81 opened #61 "Resource sent to unauthorized origin"
Hi,
I´ve noticed that in a MVC 6 app, using CORS, when a request is made from a unauthorized origin, the header  "Access-Control-Allow-Origin" is, as expected, not set, but the response status code 200 and the resource is sent in the response body. I was wondering, that if the resource cannot be shared, it should not be sent across the wire. I was expecting that the request would not event hit the

[2016-01-18 00:36] brockallen commented on #61
Yes, this is the correct behavior. It's left up to the browser to prevent the calling JS from receiving the response payload.

If you require authorization to the resource, then enforce that (in addition, yet orthogonal to CORS) by requiring authentication of some sort.

[2016-01-19 19:10] Eilon commented on #61
Indeed, I believe that the nature of CORS is that both the client and server need to be trusted to implement both sides of the protocol correctly. The server may very well send some data to the *browser*, but the browser will ensure that the *app* won't receive the data.

[2016-01-19 19:10] #61 closed

[2016-01-20 08:56] rms81 commented on #61
Ok. Being CORS something more browser related its up to the browser to take care of most part of the implementation details.
Thank you for your answers.

[2016-01-24 20:49] DavidsonA commented on #60
Is there a workaround for this until RC2? I am working on a web api with Windows authentication and cross-domain javascript clients and have found this issue to block development or deployment.

[2016-01-24 22:13] dougbu commented on #60
@DavidsonA or @shederman, how is CORS configured in your failing application?

I can see the preflight request appears valid and the response shows nothing CORS-related has run. But I can't tell _why_ without more information. For example, does the application use the CORS middleware or the MVC bits?

Breaking up original code block for future reference...
Request:
[code]

Request headers:
[code]

[2016-01-24 23:03] DavidsonA commented on #60
@dougbu I have CORS configured in this manner:

    services.AddCors(x => x.AddPolicy("allowall", new CorsPolicy
            {
                Origins = { "http://localhost:3000", "http://localhost:24899" },
                Headers = { "*" },
                Methods = { "*" },
                SupportsCredentials = true,
            }));

    app.UseCors("allowall");

Both of the above blocks run b

[2016-01-24 23:42] DavidsonA commented on #60
@dougbu I've created a repro for this issue: https://github.com/DavidsonA/cors-19-repro

If you download that repro, set both ExampleClient and ExampleApi to run, then navigate to localhost:8001 you'll see the issue in the developer console.

[2016-01-25 01:19] dougbu commented on #60
@DavidsonA thanks for the repro. I'm having a look...

[2016-01-25 01:25] DavidsonA commented on #60
Thanks. For anyone else depending on this ticket I've found a workaround (for development only) on Chrome:

1. Close all Chrome windows
2. Confirm all Chrome processes are terminated
3. Launch Chrome with the following command line arguments: "--args --disable-web-security"
4. If you see a yellow banner warning about insecure and unsupported settings, your browser session won't do any CORS validat

[2016-01-25 03:36] dougbu commented on #60
I can reproduce this problem when using the `launchSettings.json` in your `ExampleApi` project. However that file starts out strangely (abridged but changed to valid JSON):
[code]

If `"anonymousAuthentication"` is not enabled, the preflight request (which always lacks authentication) cannot reach the application (the CORS middleware in particular). Change that line to `"anonymousAuthentication":

[2016-01-25 03:43] blowdart commented on #60
Windows authentication is all or nothing and is taken care of by IIS before ASP.NET even runs.

It's not compatible with cors, that's just the way it works.

[2016-01-25 04:49] Tratcher commented on #60
Actually, we can mix anonymous and windows, so long as you configure authorization on your controllers.
[code]
See https://github.com/aspnet/IISIntegration/blob/1.0.0-rc1/src/Microsoft.AspNet.IISPlatformHandler/AuthenticationHandler.cs#L54

[2016-01-26 23:05] dougbu commented on #60
@DavidsonA and @shederman I got a quick demonstration of this working for the simple "require an authenticated user" scenario. According to aspnet/Home#1232 and aspnet/Common#85, more advanced policies in RC1 involving Windows authentication will likely hit problems.

Good news is that I can debug and observe the following
[code]

Only required changes are the `"iisSettings"` settings @Tratcher me

[2016-01-26 23:14] #60 closed

[2016-02-01 04:54] DavidsonA commented on #60
Thanks everyone, that worked for me.

@dougbu I enabled windows authentication and disabled anonymous authentication on my own accord , I did not see anything of that nature in the documentation so no error at your end.

Thanks again and good luck over the coming months. Looking forward to the aspnet core release.

[2016-02-22 22:33] Avalaxy commented on #31
I ran into this issue as well. It isn't documented here: http://docs.asp.net/en/latest/security/cors.html.

[2016-02-24 14:24] Fosol opened #63 "Not Understanding CORS"
I've configured and enabled CORS in my Startup.  Yet when I run my test application not one single static file includes the headers.  Chrome continues to post errors about it, but IE is just happy.

Is there something I'm not understanding?

[2016-02-27 15:14] RehanSaeed commented on #63
+1 Same Here.

[2016-02-27 16:34] RehanSaeed opened #65 "CORS not being applied to Views"
I have setup the following CORS policy but it is not being applied to all my views.

[code]

This is causing this error on Chrome:

And this error on Firefox:

I have tried adding the `[EnableCors("Default")]` attribute to my controller but that does not help either.

[2016-02-27 20:02] #65 closed

[2016-02-29 05:32] Eilon commented on #63
@Fosol can you show more about what you did, what you were expecting, and what the results were? E.g. startup code / config, exact scenario you tried, and perhaps network trace of what happened? A bit difficult to diagnose this type of issue with limited info.

[2016-02-29 23:01] Fosol commented on #63
I'll try and provide an example application by the end of the week.  Swamped in work atm.

[2016-03-01 07:23] RodrigoAxel opened #68 "Not working?"
Hi,

Using a newly generated RC1 project from visual studio, adding Cors as described by the oficial documentation (https://docs.asp.net/en/latest/security/cors.html) seems to not work.

**project.json (all of it):**
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.AspNet.IISPlatformHandler": "1.0.0-rc1-final",
    "Microsoft.A

[2016-03-01 19:36] halter73 commented on #68
Can you include the request headers?

[2016-03-01 20:28] RodrigoAxel commented on #68
My error, everything is working as expected, I wasn't including the 'Origin' header (this header is needed to trigger Cors).

Sorry for the inconvenience.

[2016-03-01 20:44] #68 closed

[2016-03-02 00:03] allenmoatallen commented on #63
I seem to be experiencing the same issue, can't seem to get the CORS headers returned. I'll provide my Startup.cs

[code]

and

[code]

I just have a simple GET method in my API controller.

[2016-03-02 23:35] khellang commented on #63
You're not sending an `Origin` header. By default, most browsers don't send this header for same-origin requests.

Take a look at this flow diagram to get a feel for how CORS works:

![CORS Flow](http://www.html5rocks.com/static/images/cors_server_flowchart.png)

[2016-03-03 14:29] allenmoatallen commented on #63
@khellang I noticed that as well, here is the updated screen showing I am sending one with the same behavior:

![2016-03-03_7-27-52](https://cloud.githubusercontent.com/assets/2071929/13497241/8d33c7fc-e111-11e5-9cfc-b9fd72656205.jpg)

You can see in the bottom I am sending an Origin header but still no CORS response from Kestrel/.NET

[2016-03-03 16:37] allenmoatallen commented on #63
Thanks!

[2016-03-07 00:22] Eilon commented on #63
Closing for now because we don't have enough information.

[2016-03-07 00:22] #63 closed

[2016-03-16 08:23] singlewind commented on #55
Hi @Fosol, I have exact same issue as you had. I tried a vanilla project and could not get it work.

[2016-03-18 21:03] Tratcher opened #69 "Add a minimal usage sample"

[2016-04-26 23:45] sjdirect opened #75 "Cannot find documentation/examples of how to support wildcard subdomains"
Below is what i have posted on  [stackoverflow](http://stackoverflow.com/questions/36877652/configure-cors-to-allow-all-subdomains-using-asp-net-core-asp-net-5-mvc6-vnex) regarding this issue...

I have cors setup correctly in an ASP.NET Core web app. Im using the following package...

[code]

and here is the startup.cs snippet...

[code]

This works great except that the list of subdomains to all

[2016-04-28 17:35] sjdirect commented on #75
Submitted this pull request on the master branch...

https://github.com/aspnet/CORS/pull/76

[2016-05-04 15:59] rynowak commented on #75
/cc @kichalla @blowdart

[2016-05-04 16:00] blowdart commented on #75
I don't believe it is supported.

[2016-05-04 17:08] rynowak commented on #75
@blowdart - I think the question is **should** we support it... If I'm missing something can you provide more info?

[2016-05-04 17:46] blowdart commented on #75
I saw the PR. It feels wrong from a security perspective, the CORS spec doesn't mention wildcards at all, you ought to list all your domains, especially when you know someone will whitelist azurewebsites.net because they don't understand the risks.

However it does make everything easier, so from a user PoV it's a good thing.

Do rails et al support wildcards?

[2016-05-05 02:46] rynowak opened #77 "Make HTTP method match as case-insensitive"
I know the spec says that HTTP methods are case-sensitive - but don't we do this other places?

https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsMiddleware.cs#L103

[2016-05-05 02:46] rynowak commented on #77
/cc @Tratcher

[2016-05-05 03:13] davidfowl commented on #77
We should not, we should be case insensitive where we can.

[2016-05-05 03:23] rynowak commented on #77
`Error CS1092: Statement ambiguous`

[2016-05-05 03:28] davidfowl commented on #77
I misread the link, we should be case insensitive and fix this code 😄

[2016-05-05 03:35] rynowak commented on #77
Are you saying we should change the other stuff?

[2016-05-05 13:34] davidfowl commented on #77
It should be case insensitive across the board

[2016-05-05 16:27] sjdirect commented on #75
@blowdart, what if I wanted to provide an api only to azure users? Without this functionality I'm not sure how it could be done without some heavy initialization costs and data availability from Azure.

[2016-05-05 16:32] blowdart commented on #75
I have to admit, exposing a service that loosely fills me with a creeping horror, you might as well open to all, but I do take your point.

@rynowak we should support the scenario. Hopefully no-one would do *.com, but at that point you're shooting yourself in the foot I guess.

[2016-05-05 17:00] Eilon commented on #75
Given where we are in the product lifecycle I'm putting this on the backlog for now.

I do like this feature but we are working on product stabilization at this time and doing our best to minimize introducing new features.

[2016-05-05 17:03] Tratcher commented on #77
Agreed, case insensitive.

[2016-05-05 18:11] Eilon commented on #77
@Tratcher are there other areas where we are not case-sensitive, but should be?

[2016-05-05 18:17] sjdirect commented on #75
Understood. I have a workaround in place
<http://stackoverflow.com/questions/36877652/configure-cors-to-allow-all-subdomains-using-asp-net-core-asp-net-5-mvc6-vnex/36925805#36925805>
that suits my needs so no pressure from me. Thanks for your time.

On Thu, May 5, 2016 at 10:00 AM, Eilon Lipton <notifications@github.com>
wrote:

[2016-05-05 20:28] Eilon commented on #75
@sjdirect thanks for understanding!

[2016-05-09 20:48] rynowak opened #78 "Cors needs logging"
CORS really badly needs some logging - this is an area of frequent question-asking. We should try to automate our question answering.

Ideas:
- Whether or not request was preflight (debug)
- Where or not request had origin header (debug)
- Policy success or failure with failure reason (info)

[2016-05-17 18:24] Eilon commented on #77
Moving to post-RTM.

[2016-05-17 18:27] Icestorm0141 commented on #56
@kichalla So I'm definitely having this problem. I tried the proposed solution, implementing a CustomExceptionFilter which inherits from ExceptionFilterAttribute. The problem is that there isnt an Exception being thrown. Instead you're just failing the Authorization check. Any ideas? A couple of thoughts:

1) Does this just need to inherit from AuthorizationAttribute instead of ExceptionFilterAttr

[2016-06-21 12:57] liupengf12 opened #80 "CORS does not works after enable JWT bearer token"
I use JWT bearer token in my web api project and the codes like this:

[code]

And the CROS settings like this:

[code]

[code]

The requests:
![image](https://cloud.githubusercontent.com/assets/117811/16229912/87f0a580-37f1-11e6-9cac-31fea1c12583.png)
![image](https://cloud.githubusercontent.com/assets/117811/16229951/b8a8214e-37f1-11e6-9261-5ef63703c48b.png)

Why the response of first OPTION req

[2016-06-21 22:07] rynowak commented on #80
The response to your second request is a 500 of content-type text/html - is this coming from an error handler rather than your API?

[2016-06-22 03:25] liupengf12 commented on #80
@rynowak Your are right, there is a internal error, after fixed that error it works well.
Thanks.

[2016-06-22 03:25] #80 closed

[2016-06-29 21:35] muratg opened #81 "Session is not working on IIS with CORS"
_From @devilsuraj on June 28, 2016 8:19_

I am using sessions to manage application state in ASP.NET CORE and it's configured as below.

[code]
It's working on localhost but on remote IIS 8 it's not creating cookies so not able to get the values. I also have enabled CORS and don't know what exactly caused this problem. In log it's not showing error either. It's creating session getting stored id b

[2016-06-29 21:35] muratg commented on #81
_From @kichalla on June 28, 2016 16:36_

Could you share a sample repro project?

[2016-06-29 21:35] muratg commented on #81
_From @devilsuraj on June 28, 2016 19:23_

thanks for reply i am following this https://github.com/aspnet/MusicStore
this is the code where session is created
[code]
but tis not working on CORS i am getting cookie in response header but its not set in browser .
everytime it just send me new set cookie in response header , the cookie is never set ,it may be stupid to ask but i am not sure, is it co

[2016-06-29 21:35] muratg commented on #81
_From @Tratcher on June 28, 2016 22:53_

What is your CORS policy? Some CORS policies do not allow cookies.

[2016-06-29 21:35] muratg commented on #81
_From @devilsuraj on June 28, 2016 23:14_

@Tratcher as for now i have allowed everything in CORS , anyways after researching a lot i found cookies wont work on cross domain for security reasons. anyways i will get the app on subdomain , will test and close the issue

[2016-06-29 21:35] muratg commented on #81
_From @devilsuraj on June 28, 2016 23:30_

well its not working on subdomains either this is the response header
Set-Cookie:.mysession.Session=e506554c-34b1-8990-de71-a9d12cd4a3ff; domain=.mydomain.com; path=/; httponly

my session config
[code]

my CORS policy
[code]

its generating cookie from backend.mydomain.com and   i need to access it on app.mydomain.com

[2016-06-29 21:35] muratg commented on #81
_From @Tratcher on June 29, 2016 17:25_

(not directly related, but it looks like you're still using RC2, you should move to 1.0).

[2016-07-01 00:51] devilsuraj commented on #81
i updated to 1.0 i think its just Id is not opaque now but its not working with domain name
`Set-Cookie:.swapKart.Session=CfDJ8BRCECbMEPVJohJqV5kdf0FLqOw6ICpUMnv%2BC0YsNjAEHsfYe7XkQUuxpwsqKKZeiti1yKdNtDnxEy%2Fms3hdfBVB62fj4XJFHchAv1H3TKALF8RDGj0SKZZZj9VkSxD3rXoROxDYygv79uf%2B2gBp40q%2BJJCwVTaj%2BTU5XG55%2Bzgx; domain=mydomain.com; path=/; httponly`

however any update on issue??

[2016-07-01 11:52] muratg commented on #81
cc @Eilon

[2016-07-20 08:55] prasannapattam commented on #81
With "Passing Credentials in Cross-Origin Requests" option, I was able to have the session in CORS over IIS. I am using the option mentioned in this link
http://www.asp.net/web-api/overview/security/enabling-cross-origin-requests-in-web-api#credentials

[2016-08-01 21:43] Eilon commented on #81
@kichalla can you continue investigating this? Do we think there's a bug here?

[2016-08-02 10:11] xrkolovos opened #82 "How can we refresh cors Policy after initializing our app?"
How can we refresh cors Policy/rules after initializing our app?

[2016-08-02 10:50] xrkolovos commented on #82
This might work?

//new CorsOptions
var options = new CorsOptions();
var policy = new CorsPolicy() { ... };
options.AddPolicy("AllowSpecificOrigin", policy);
//try refresh instance
services.AddSingleton<IConfigureOptions<CorsOptions>>(new ConfigureOptions<CorsOptions>(configureOptions));

[2016-08-02 23:48] kichalla commented on #81
I tried this scenario on IIS and using the article @prasannapattam had shared but for .NET Core. I was not able to repro the issue.

My verification steps:
- I created couple of `hosts` file entries for `app.mydomain.com` and `backend.mydomain.com` both pointing to `127.0.0.1`
- Added site bindings for the above entries in IIS's website
- Published the ASP.NET Core site to IIS. The idea here is to

[2016-08-03 18:29] Eilon commented on #82
@kichalla any idea if the CORS policies are designed to be updated at runtime? I'm not sure we designed any of this to change at runtime.

[2016-08-03 18:49] kichalla commented on #82
A custom [policy provider](https://github.com/aspnet/CORS/blob/1.0.0/src/Microsoft.AspNetCore.Cors/Infrastructure/ICorsPolicyProvider.cs#L20) could be written, which for example could get the policies from a database.

Following articles of ASP.NET Web API 2.0 show examples of Cors and policies in Database. They can give some idea on how to do something similar in ASP.NET Core.

https://msdn.micro

[2016-08-03 19:27] kichalla commented on #82
I haven't tried this end to end but another possible approach(and probably simpler than database) is to use a configuration file which is watched for changes and policy provider can reload with fresh policies.

For example, when a new Web project is created in VS, the following line in Startup.cs causes the conifguration file to be watched for changes:

[code]

You can update the appsettings.json

[2016-08-03 20:15] Eilon commented on #82
@kichalla that will reload the settings, but I doubt that CORS support reloadable settings, so it won't actually do anything.

But it seems that because the custom provider will work, this question is now answered.

[2016-08-03 20:15] #82 closed

[2016-08-03 20:18] kichalla commented on #82
Probably I was not very clear, I meant the custom policy provider can watch for the reloadable settings and return the updated policies when asked for.

[2016-08-03 20:24] Eilon commented on #82
@kichalla ah sure, yes, custom code can do custom things 😄 But not out-of-the-box with the built-in provider.

[2016-08-04 09:52] kbasaris commented on #82
This is a way to refresh origins of an existing policy at runtime

CorsOptions _options;

        public CorsController(IOptions<CorsOptions> options)
        {
            _options = options.Value;
        }

//Begin refresh origin
//here we remove all current origins
options.GetPolicy("AllowSpecificOrigin").Origins.Clear();

//add we add all origins again plus the new ones
foreach (var newOrigin

[2016-08-04 15:02] rynowak commented on #82
`CorsPolicy` is not thread-safe. You'll get exceptions trying to modify it in a running site. In general data coming from options is assumed to be 'baked' after resolving from DI. Components that consume this data may assume that it won't change.

[2016-08-04 17:24] kichalla commented on #81
Closing this issue now. Feel free to re-open if this still does not work for you.

[2016-08-04 17:24] #81 closed

[2016-08-08 21:33] #77 closed

[2016-09-02 15:12] Kuqd opened #86 "Cors does not appear if the application crash"
When your application crash (500 Internal Error), cors response header are not present.

I think it should because the error on the front is therefore misleading.

**request headers:**

Accept:*/*
Accept-Encoding:gzip, deflate, sdch
Accept-Language:en-GB,en;q=0.8,en-US;q=0.6,fr;q=0.4
Connection:keep-alive
Host:localhost:5000
Origin:http://localhost:3000
Referer:http://localhost:3000/
User-Agent:Mo

[2016-09-06 18:11] borgdylan opened #88 "Security Issue: CORS Mvc auth filter still allows request to execute."
As things stand, if ```EnableCorsAttribute``` is used on an MVC action method, the method will still execute and spit out a result over the socket regardless of the CORS test result. The combat this security hole, I had to write an action filter that checks for the ```Origin``` header and see that whenever that header exists in the request, I short circuit the response with a negative status code

[2016-09-13 04:35] Eilon commented on #86
I suspect you're running into the same issue as https://github.com/aspnet/CORS/issues/46, which we closed as by-design.

If you're looking to do your own more advanced errors, you can certainly return any response you like, with any headers you like. But I believe that out-of-the-box it defaults to not showing the error page because it is either typically of no value to the caller, or it is potent

[2016-09-13 04:37] Eilon commented on #88
@borgdylan thanks for the report! Can you provide us with a sample repro app for this? You can email it (or a link to it) to elipton_AT_microsoft_com if it contains any sensitive information.

cc @blowdart

@kichalla can you take a look at this as well? Please coordinate your investigation with @blowdart until we figure out what's going on here.

[2016-09-13 13:53] brockallen commented on #88
This is how CORS works. If you policy doesn't allow the calling origin, then all CORS does is not emit the Access-Control-Allow-Origin response headers. If you want authorization on your endpoint, then implement some security.

[2016-09-13 17:41] borgdylan commented on #88
I have implemented security code. I just think that it should be an option in the official package to short circuit the request when CORS validation fails on cross-domain requests.

[2016-09-13 17:47] brockallen commented on #88
If you've implemented authorization, then the response would be a 401/403 and then CORS would be moot.

[2016-09-13 18:48] borgdylan commented on #88
I am relying on the CORS authorization filter as a signalling step. If there is an "Origin" header in the request I expect an "Access-Control-Allow-Origin" header in the response, else I do not do anything as the request would not be a CORS one.

[2016-09-13 18:59] brockallen commented on #88
Perhaps that's your point of confusion -- CORS is a client-side authorization mechanism, not a server-side mechanism.

[2016-09-13 21:29] Eilon commented on #88
Yes, @brockallen 's point is critical: CORS from my perspective is about enabling the client (i.e. web browser) to decide which remote calls the web site may make. The browser asks the server for some info in order to make its decision as to what allow the web site to do. (It's a bit more complex than that, of course.)

[2016-09-13 21:30] brockallen commented on #88
Also, the server-side CORS plumbing should not prevent the call if Origin is absent. Think about non-browser clients.

[2016-09-15 18:00] Kuqd commented on #86
Alright ! Thanks

[2016-09-15 18:00] #86 closed

[2016-09-19 17:23] kichalla commented on #88
Closing this issue as @brockallen is right.

[2016-09-19 17:23] #88 closed

[2016-09-21 10:20] SamiAl90 commented on #60
Hey all,

I am suffering the same problem at this moment. I did as @Tratcher described and also as @dougbu said. It works now but that solution is really "hacky" in my opinion. Is there some better way to do so now? Since the last post is from the first of february.

Kind regards and thanks in advance.

[2016-09-21 19:15] dougbu commented on #60
@SamiAl90 if you dislike changing launch settings, please file a new issue describing your specific concerns. For example, what should be easier to do and how would you prefer to do it?

[2016-09-22 05:31] SamiAl90 commented on #60
@dougbu I didn't say that I don't like the launch settings those are not a problem. I was just wondering if there is a better way to allow cross site origins with windows authentification so I won't need to send the xhr field on every request I want to do from the front-end.

[2016-09-22 16:37] dougbu commented on #60
Nothing about the CORS headers has changed recently.

[2016-10-05 19:43] mharthoorn opened #89 "Allow a more flexible AllowOrigin response"
Instead of the CorsService peeking into the CorsPolicy

[code]

A method `OriginAllowed(string origin)` would allow for a much more flexible lookup policy. The service would then call:

[code]

This allows the policy to respond with a more ad hoc response like a (database) lookup.
The default would simply be:

[code]

But an override policy could become something like:

[code]

[2016-10-12 06:43] iwbo commented on #46
Has this issue been revisited?
I mean, is it really a CORS policies job to prevent sending out full exception details?

But the main problem for me is that if I allow some domain do make CORS requests, I expect them to get all the information.

If the request was made with "XMLHttpRequest" as fallows:
`var xhttp = new XMLHttpRequest();`
`xhttp.onreadystatechange = function () {`
    `console.log(t

[2016-10-15 11:57] Choc13 commented on #75
Would it be possible to make this more flexible by adding a `Func<string, CorsPolicy, boolean> OriginFilter`  to the `CorsOptions` as part of the `AddCors` extension method. Then in `CorsService` add

[code]

By Then provide a default implementation of the wildcard subdomain origin matcher using code similar to that in @sjdirect's StackOverflow post. As I imagine most people would be looking to us

[2016-10-19 11:22] iwbo opened #90 "No CORS headers sent in case of error 500"
There is a similar closed issue that I have commented on, but there hasn't been any response, so I created a new issue.
Closed issue: https://github.com/aspnet/CORS/issues/46

Comment copy:

Has this issue been revisited?
I mean, is it really a CORS policies job to prevent sending out full exception details?

But the main problem for me is that if I allow some domain do make CORS requests, I expec

[2016-10-28 14:42] wparad opened #91 "Attribute doesn't work with UseCors"
Create two policies, useCors on one, and add attributes to controllers for the other.  The attributes won't trigger. A 204 is returned instead.  Adding in an Options method with an attribute on the controller or the actual verb (GET, HEAD, etc...) returns a 200 and the correct headers.

Using this setup:

[code]

[code]

returns:

[code]

Instead of:

[code]

By simply removing the use of `UseCors

[2016-10-28 14:43] wparad opened #92 "Middleware doesn't return required headers"
These headers are never returned:
Access-Control-Allow-Methods
Access-Control-Max-Age

and the status code is 204, and should be 200 (debatable, but it seems like everyone is returning 200 since technically OPTIONS should return a list of allowed methods)

[2016-10-28 22:10] wparad commented on #75
Please just take a function, you don't need to worry about "security concerns" let developers to their thing.  Most know what is good and bad, but when they want to do the bad thing anyway, they will find away.  Why not make it straight forward here, wildcards are really common pattern, and if allow all, why not allow some?  I don't thing security even comes into play, if it did, we should probabl

[2016-10-30 16:57] Choc13 commented on #89
See issue #75

[2016-10-30 17:25] Choc13 commented on #75
Agree with @mharthoorn in #89 that this should actually be applied on a per policy basis rather than for the entire `CorsService`

[2016-11-19 01:06] StupendousPlatypus opened #96 "SimpleRequestHeaders present in Access-Control-Request-Headers are filtered out of response"
### Title
SimpleRequestHeaders present in Access-Control-Request-Headers are filtered out of response's Access-Control-Allow-Headers

### Functional impact
MS Edge includes 'accept' within a CORS preflight request. When the preflight response does not include 'accept', Edge will stop the real request.

### Minimal repro steps
[This unit test](https://github.com/aspnet/CORS/blob/46b2d52d7419c978032

[2016-11-21 13:19] brockallen commented on #96
The spec says that simple request headers are not required to be emitted and browsers should assume they are implied.

[2016-11-21 17:41] StupendousPlatypus commented on #96
You're right; sorry for the bad issue.

[2016-11-21 17:41] #96 closed

[2016-11-23 22:19] #78 closed

[2016-11-23 22:19] #69 closed

[2016-11-23 22:35] Eilon commented on #89
We will consider this for the next version.

[2016-11-23 22:35] Eilon commented on #75
We will consider this for the next version.

[2016-11-23 22:40] Eilon commented on #90
I think the issue here is that this is not likely to be safe to do *in general* in the CORS middleware, which is why we recommend customizing the behavior for your app. That is, it is not generally safe to send all error details to a remote caller. So, instead of letting the generic ASP.NET Core error handling mechanism propagate the error to the client, we recommend writing error handling code th

[2016-11-23 23:20] iwbo commented on #90
So if I need to let the caller know that an Internal Server Error occurred together with CORS middleware.
I would need to change the status code before CORS middleware and use some other status code or data structure to represent the Internal Server Error status ?

Also isn't detailed Error information hidden by default in asp.net core ?
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/er

[2016-11-25 04:51] e5enrico commented on #60
For anyone else struggling with this; I managed to get CORS and Windows Auth working in Chrome with dotnetcore by allowing both WindowsAuthentication and AnonymousAuthentication and them in the 1st middleware I check for authentication for all methods except OPTIONS (Preflight) and return a 401 where appropriate.

Middleware:
[code]

I have a repo here which demonstrates the problem in the initial

[2016-11-29 01:44] jbagga commented on #92
@wparad Can you provide more context to your scenario? Allowing non-simple headers and setting preflight max age in the policy returns the required headers you mentioned, in response to a preflight request. Maybe you can send us the policy you tried to enforce and the request you sent.

@kichalla Could you elaborate on the status code being 204 and not 200?

[2016-11-29 23:03] kichalla commented on #92
@wparad The only reason I can think of is that OPTIONS response does not have a body.

[2016-11-29 23:51] jbagga commented on #91
CORS can be a little tricky. This may be because you are applying a more restrictive policy `UseCors("OtherPolicy")` and then trying to use a more relaxed version `EnableCors("AllowAll")`. If you wish some controller's actions to be specifically available to a certain origin, apply the more specific policy as an attribute to that controller. Also, when using MVC and CORS, it is recommended you use

[2016-12-01 12:33] wparad commented on #91
At your link it says

Which directly contradicts what you just said, it seems that documents don't represent the reality, which is "the order of applied policies is global, controller, and then action"

[2016-12-03 02:43] dougbu commented on #91
@wparad running the action policies last means they can override (i.e. have precedence over) all other policies. What exactly is incorrect in the documentation?

[2016-12-03 05:27] jbagga commented on #91
@wparad Thank you for your response. My apologies. My comment before is not descriptive enough. So, when using `UseCors()` [middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware) logic for Cors runs. This is a completely different middleware than MVC. If you read the [example](https://docs.microsoft.com/en-us/aspnet/core/security/cors#enabling-cors-in-mvc) again, it says

[2016-12-04 10:22] wparad commented on #91
Thanks @jbagga for the clarifications, let's close the issue for now.

[2016-12-05 19:42] #91 closed

[2016-12-06 01:40] jbagga commented on #92
@wparad Any updates? Are you still running into this problem? If you can share a quick example, I'd be happy to investigate further.

[2016-12-07 22:25] jbagga commented on #92
Closing this issue for now as it cannot be reproduced with the given information. @wparad Please feel free to open it if you encounter it again and provide a quick example of your app.

[2016-12-07 22:25] #92 closed

[2016-12-13 17:09] drano commented on #60
When enable anonymous and windows authentication, CORS Pre-Flight works correctly, but I have an 500 error code on my GET method (without error message). This method should use Windows authentication.

Any ideas ?

[2016-12-13 18:51] Tratcher commented on #60
Logging?

[2016-12-13 21:01] drano commented on #60
I deactivates logging, but the problems remains. The first call is anonymous, then why the second method should ask for a challenge Kerberos/Windows Authentication ?

[2016-12-13 22:05] e5enrico commented on #60
Drano - If you are using the code I posted above the error could be due to the fact that the pipeline is not interrupted and something else may be trying to write to the context.Response.

Change the code slightly to stop the pipeline:
[code]

[2016-12-14 09:08] SamiAl90 commented on #60
@drano add this policy as written above in your mvc options

`
services.AddMvc(options => {
....
 var policy = new AuthorizationPolicyBuilder()
.RequireAuthenticatedUser()
.Build();
options.Filters.Add(new AuthorizeFilter(policy));
...
}
`
+ enable windows auth + anonymous auth for IIS Launchsettings
This will alow the user to enter the startup file without being authentificated but for controller

[2016-12-14 22:06] Eilon commented on #75
We merged https://github.com/aspnet/CORS/pull/94, so closing this.

[2016-12-14 22:06] #75 closed

[2016-12-15 18:53] jbagga opened #97 "Missing Vary: Origin header for multiple allowed origins"
Currently VaryByOrigin is set to true only when AllowAnyOrigin and SupportCredentials is true. It should also be set when multiple origins are configured/allowed. See [spec](https://www.w3.org/TR/cors/) for more details.

[2016-12-19 17:15] Eilon commented on #90
I'm not sure if this is getting philosophical, but why would a JavaScript app need to know that an internal server error occurred? CORS is just for browser clients, and presumably if the server had a server error, the client can't do much about that (that's what an HTTP 500 error is).

[2016-12-21 18:47] atrauzzi opened #98 "OPTIONS requests receiving 404 when routes have HTTP method constraints"
My `Startup.cs` contains the following:

[code]

I have my own tools for registering routes, however I've noticed an interesting/odd behaviour when using controller annotation for CORS.  I believe it boils down to this:

[code]

What I think is happening is the preflight only works when I remove any HTTP method constraint from the route.

I'm not sure if that's just a limitation of using annotatio

[2016-12-21 23:49] #97 closed

[2017-01-04 22:50] Eilon commented on #98
Routing runs before MVC, so if the route has a constraint that doesn't allow an `OPTIONS` request, then MVC will never see the request, so its CORS logic won't run. The result is that unless some other middleware can handle that request, the server will return a 404.

You could instead consider using the CorsMiddleware (that's in this repo) because it can be registered before MVC (and thus Routing

[2017-01-04 22:50] #98 closed

[2017-01-05 04:17] atrauzzi commented on #98
Thanks! This approach sounds good!

[2017-01-10 17:59] atrauzzi opened #99 "Improved options for adding policies"
I'd love to be able to have the Cors middleware resolve my policies from the container.  If any of my policies require configuration parameters, it seems like there's no nice clean way to break them out into their own files that can depend on `IOptions<Something>`.

Alternatively, it might be nice if I could better leverage the options system to set up my `CorsOptions` instance.

The current setup

[2017-01-10 19:52] brockallen commented on #99
You mean some way to load policies dynamically (e.g. from a DB)?

[2017-01-10 23:17] atrauzzi commented on #99
Well, not from a DB.  But I have some `IOptions` instances that have values I'd love to get into my policy.  So maybe not as heavy as DB ;)

[2017-01-10 23:22] brockallen commented on #99
For me I need a DB. I was just wondering if we could achieve 2 birds with 1 stone here.

[2017-01-11 01:08] atrauzzi commented on #99
It's possible.  I wouldn't be surprised if somehow the approach was similar.

[2017-01-27 00:28] jmurphzyo commented on #82
did anyone ever add an entropy of implementing this?

[2017-01-27 15:49] xrkolovos commented on #82
We agree that is something that should be able to change after the app is initialized?

[2017-01-27 21:47] kichalla commented on #82
I am working on a sample in Entropy. Will send out a PR soon.

[2017-01-31 18:05] kichalla commented on #82
FYI, I checked in the sample now: https://github.com/aspnet/Entropy/commit/1fe770bdafeca53bd094e231d14b780d7810cd03

[2017-02-22 18:05] Eilon commented on #99
We have no plans to implement this in the box, but we do have an example of a dynamic CORS policy provider here: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.DynamicCorsPolicyProvider (the example uses MVC, but the CORS stuff is all the same regardless of MVC).

You could certainly use that sample as a starting point to implement other types of CORS providers. If you come up with somethi

[2017-02-22 18:05] #99 closed

[2017-03-19 18:32] brockallen opened #105 "CorsMiddleware should resolve dependencies dynamically"
The dependency on `ICorsService` and `ICorsPolicyProvider` to the [ctor for the middleware](https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsMiddleware.cs#L31-L32) means the use of these services are in effect singletons. This means implementations that require scoping in DI (e.g. to hit a database) will not work properly and the one instance will be used co

[2017-03-19 22:38] davidfowl commented on #105
Are you using a database to resolve your cors policy? Only one of those interfaces are async. So I'd opt for only making one of them scoped (if any)

[2017-03-19 23:49] brockallen commented on #105
I'm building a `ICorsPolicyProvider`, yes, and will typically consult a DB.

https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Infrastructure/CorsPolicyProvider.cs

Tangent: this also shows another place where decorator pattern would be nice to be built into DI in AspNetCore.

Tangent2: I think our use of the CORS plumbing shows how the design is difficult to use with

[2017-05-08 08:54] hnrchrdl commented on #90
This issue should be addressed. CORS should be independent of status codes whatsoever.

[2017-05-11 23:53] jbagga opened #111 "Set VaryByOrigin for origins other than *"
We currently only set `VaryByOrigin` to true for [multiple origins](https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsService.cs#L275). But to support Chrome, we should consider setting it for a single origin as well. See [here](https://github.com/aspnet/CORS/pull/84/files/c0a77c3e39e7306d1df190cb5bc9ac64d24ce077#r92526466) for discussion.

cc @kichalla

[2017-05-17 00:39] Eilon commented on #90
Outside of the philosophical side of things, I think the thing being discussed here is that ASP.NET Core's exception-handling middleware (the Developer Exception Page and the Exception Handler) will clear out all the headers so that they can send their response, which includes clearing out CORS headers.

I don't *think* that the CORS middleware itself cares about status codes; it'll gladly add the

[2017-05-18 21:43] mariapaulinar commented on #80
Can you share your solution? I have same problem, I've tried a lot of things and it still comes up in some requests :( Thanks.

[2017-05-18 22:04] rynowak commented on #80
@mariapaulinar in that case I believe he was enountering another error somewhere else in his code. Can you please open a new issue and describe the problem you are having?

[2017-06-05 18:55] jbagga commented on #111
@andrew-laughlin We are closing this for now since it cannot be reproduced. If you have a specific repro sample and more information as requested [here](https://github.com/aspnet/CORS/pull/84/files/c0a77c3e39e7306d1df190cb5bc9ac64d24ce077#r119248922), please let us know and feel free to reopen this issue.

The [CORS](https://www.w3.org/TR/cors/) spec and [MDN](https://developer.mozilla.org/en-US/d

[2017-06-08 17:16] #111 closed

[2017-06-09 22:17] Eilon commented on #38
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:17] #38 closed

[2017-06-09 22:17] Eilon commented on #43
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:17] #43 closed

[2017-06-14 20:31] rynowak opened #113 "Log when we see an OPTIONS without AccessControlRequestMethod"
Right [here](https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsService.cs#L83), we ignore an `OPTIONS` request without the `AccessControlRequestMethod` header, and treat it as a non-preflight request.

We should log specifically when this happens, it's important to know *why* in this case the request is being treated as non-preflight.

What will typically hap

[2017-07-05 16:55] Eilon commented on #105
This sounds like a good feature request, but we are not currently planning to implement this.

[2017-07-06 20:21] henkmollema commented on #105
@Eilon PR #106 already implements this. You might want to take a look.

[2017-07-07 05:36] Eilon commented on #105
@henkmollema ah I hadn't noticed that, thanks! We're right now in the last days of stabilization for the 2.0.0 RTM release so we're trying to trim down as much as we can, but we'll definitely take a look for 2.1.0.

[2017-07-17 22:27] aredfox opened #118 "Jwt Auth with Angular Auth0 and AspNetCore No 'Access-Control-Allow-Origin' header is present on the requested resource"
I'm getting the following error on my WebAPI requests:
[code]

- Note that auth & logging in works ok on the angular 2 app (as desribed by the auth0 team).
- Note that without AUTH attribute the ValuesController works just fine

- I inspected the response from ASP.Net Core and saw that there was indeed no `'Access-Control-Allow-Origin' header`. Do I need to add anything else to the pipeline, if so

[2017-07-27 04:05] Eilon commented on #118
@jbagga - can you investigate?

[2017-07-27 19:36] pranavkm opened #120 "Move CorsOptions to root namespace"
It's in the infrastructure namespace `Microsoft.AspNetCore.Cors.Infrastructure` which feels a bit odd for something we expect users to use.

[2017-07-27 19:43] pranavkm opened #121 "EnableCorsAttribute has a way to set policy name via the ctor and the property"
Seems strange since both things apply to the same thing.

![image](https://user-images.githubusercontent.com/174281/28689060-19b66104-72c9-11e7-9da4-5cb3e28c3037.png)

[2017-07-27 19:44] pranavkm commented on #121
We could make the setter `EditorBrowseable(Never)` just so that it's less confusing for future users and does not break copy-paste etc

[2017-07-27 22:42] pranavkm opened #122 "Add an empty constructor for EnableCorsAttribute"
To use the default CORS policy, we need to pass in either `null` or `CorsOptions.DefaultPolicyName`. The latter is an instance member and therefore cannot be used in an attribute. It would be nice to substitute  `[EnableCors(null)]` with `[EnableCors]`. Additionally, it would be nice if we had an (extension?) method on `CorsOptions` that allowed setting the default policy e.g. `options.AddDefaultC

[2017-08-01 19:30] jbagga commented on #118
@aredfox Which version of ASP.NET Core are you using?

[2017-08-02 00:00] jbagga commented on #118
Unable to repro with the given information. Can you share a functioning app with this issue? The only thing I can think of is that you are not being authorized to access the ValuesController, maybe because your log-in redirection is not set up as expected.

[2017-08-03 19:40] jbagga commented on #118
@aredfox I am unable to repro this in 1.1 and 2.0. Can you share a sample app that is running in to this issue? Here is the CORS sample I used (the [SampleOrigin](https://github.com/aspnet/CORS/tree/dev/samples)) to ping an API that has Jwt auth set up

[2017-08-04 14:38] rynowak commented on #118
Do you have logging turned on? This looks like a run of the mill exception is coming from somewhere.

[2017-08-08 21:37] jbagga commented on #118
@aredfox Are you able to share what may be the cause of the 500?
Closing this for now as it cannot be reproduced. Please feel free to reopen and provide more details.

[2017-08-08 21:37] #118 closed

[2017-08-10 22:12] Eilon opened #123 "Asp.net core web api that returns File is throwing No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access"
_From @adriangh83 on August 10, 2017 16:37_

Hello,
I have a problem when trying to return a File on an .net core (1.1) rest service.  I get "XMLHttpRequest cannot load http://localhost:83/api/attachment/content/22?_=1502382297330. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 500."
If

[2017-08-10 22:12] Eilon commented on #123
_From @dallancarr on August 10, 2017 20:54_

Can we see the full controller action code snippet? Also check exception it's returning 500 so hence not returning CORS headers.
So possibly not a security issue.

[2017-08-11 04:15] adriangh83 commented on #123
For some reason the previewer doesn't format the code so I've attached some screenshots. I'm sorry that some variable names are not written in English.

![image](https://user-images.githubusercontent.com/5945984/29201080-c2e249fa-7e63-11e7-9c89-e849e69a58bb.png)
![image](https://user-images.githubusercontent.com/5945984/29201087-d31c80f6-7e63-11e7-99e9-a0ae7e8488cd.png)

I should mention that on t

[2017-08-11 04:36] adriangh83 commented on #123
Trying to use another approach I find out that the error appears because I closed the stream.
If I use the following code I no longer get that CORS error:
![image](https://user-images.githubusercontent.com/5945984/29201494-6139143c-7e67-11e7-9b6f-d30f1f6fb52e.png)
Still don't know why I get CORS error on server error.
Sorry about wasting your time and keep up the good work. :)

[2017-08-11 18:58] benhysell opened #124 "DefaultIsOriginAllowed should StringComparer.Ordinal be changed to StringComparer.OrdinalIgnoreCase?"
https://github.com/aspnet/CORS/blob/8214954d5b0dafe191890da9a3de86f5b607ea69/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsPolicy.cs#L161

Is the only place where string comparison is cased...should it ignore case?

Ran into an issue today where I built my own policy:

[code]
And I'm reading the configuration in from ```appsettings.json```.
[code]

All worked great, but I was having an odd fail

[2017-08-11 19:20] blowdart commented on #124
It's complicated. So complicated there's an RFC - https://tools.ietf.org/html/rfc4343

Basically for ASCII domains it's case insensitive, but punycode (what Internationalised domain names convert into) kinda, sorta, messed it up.

However, we ought to normalise in our checks, and then allow case sensitivity as an option.

[2017-08-16 02:51] bungeemonkee opened #125 "CorsMiddleware not rejecting invalid requests"
I've setup cors per the documentation and am able to verify with the debugger that the correct policy is being used by the middleware and that the middleware is being executed. However any invalid request (disallowed origin, disallowed method, authorization when there shouldn't be, etc.) is not being rejected by the middleware. It appreas to respond to valid options preflights and nothing else (in

[2017-08-24 20:53] Eilon commented on #125
@kichalla can you take a look?

[2017-08-24 20:56] Eilon commented on #125
Please discuss results with me directly.

[2017-08-24 21:20] kichalla commented on #125
@bungeemonkee Could you share an example of where you have seen it not working? I tried few scenarios using the [sample](https://github.com/aspnet/CORS/tree/dev/samples) in this repo and invalid requests like disallowed origin, disallowed method etc. and they are working as expected.
Also which version of Cors middleware are you using?

[2017-08-28 15:18] bungeemonkee commented on #125
Sorry for the delayed response.

I'm using version 2.0.0 though this problem appears to have been around since the 1.X branch and I simply didn't notice. I have set the project up per the example. The only substantial difference being that there is swagger, swagger ui, and authentication middleware between the cors middleware and the mvc routing middleware.

Having dug through the cors project cod

[2017-08-28 16:10] brockallen commented on #105
Can we get confirmation that this will be addressed in 2.1? I'd like it to not slip thru the cracks.

[2017-08-28 18:11] Eilon commented on #105
@brockallen I've flagged it for discussion.

[2017-08-29 16:20] kichalla commented on #125
@bungeemonkee Yes, your observation is correct but this should not be an issue in real scenarios.

Examples:
- If a webpage is trying to make a CORS request with PUT verb, then the browser would kick off a Preflight request. Upon receiving the preflight request the server application would reject it based on the policy failure and since this request is rejected by the server, the browser would not

[2017-08-30 03:17] bungeemonkee commented on #125
@kichalla OK, so if I set up a CORS policy to restrict by domain (the value of the "Origin" header) this will - by design - be ignored for Ajax requests that are GET? This seems off. Even though I'm using HSTS to ensure https and using oauth2 tokens to restrict access to only properly authenticated parties I'd really like the extra security of knowing that if a hole is found either in the https or

[2017-08-30 16:43] Eilon commented on #125
cc @blowdart

@bungeemonkee I think the issue with "protecting" a GET request with CORS is that you don't need CORS to make GET requests (or POSTs). A "malicious" site could just create a simple form:

[code]

And BAM, the get/post goes through. (I didn't actually test my code, but in general it'll work fine, minus any mistakes I've made.)

So I don't think CORS is meant to add any extra protectio

[2017-08-30 23:35] Eilon commented on #120
It's a breaking change and the value is too low. Sorry 😢 Also, due to the primary usage being via an `Action<CorsOptions>`, users in general won't see the type name - only our own codebase uses it by name.

[2017-08-30 23:35] #120 closed

[2017-09-05 20:40] Eilon commented on #105
This would be a breaking change - not only to the API, but to change the lifecycle/scope of a service.

Could the *implementation* of the `ICorsPolicyProvider` be made such that it uses service locator (which isn't pretty, but will work fine)?

[2017-09-05 21:02] brockallen commented on #105
Why can't the MW just accept the `ICorsPolicyProvider` as a param to `Invoke` or resolve the `ICorsPolicyProvider` itself via service locator in `Invoke`?

[2017-09-05 22:38] Eilon commented on #105
Logically it certainly can, but the change would be the scope of the service, which is a breaking change. Anyone currently implementing the interface expects a particular lifetime.

We could conceivable add a new interface with a different lifetime that had the new behavior. I'm *hoping* that if we just add a new overload to `Invoke()` with the new interface as a parameter that the middleware invo

[2017-09-05 22:43] brockallen commented on #105
Just keep in mind that as of today, given the singleton nature of the MW, the scope that anyone configures for their custom implementation is currently not being honored.

[2017-09-05 22:49] Eilon commented on #105
The scope of a service is defined by the service interface (although not formally; though I wish it was). An implementation cannot (read: must not) choose a different scope.

Or maybe I misunderstood the statement?

[2017-09-06 01:47] brockallen commented on #105
No, that's what I meant. But this design:

seems bizarre to me.

[2017-09-06 05:07] davidfowl commented on #105
@Eilon is right. You can't externally control the lifetime of a dependency if the usage was never intended for that lifetime. There are so many things that can go wrong if you for example changed a lifetime from scoped or transient to a singleton (e.g. thread safety issues).

[2017-09-06 12:04] brockallen commented on #105
Would going from singleton to scoped/transient be a breaking change?

[2017-09-06 12:12] brockallen commented on #105
The other idea is to put the default impl into DI as a singleton, and then resolve it as a param to Invoke. Then it'll still be a singleton, but then custom implementation can break the rules and re-register with a more appropriate scope (so they can hit the DB).

All in all, this is still a bug -- by accepting the dependency in a MW ctor, that in effect has broken your own rule about changing the

[2017-09-06 13:32] amivit commented on #60
After hours and hours of pain I finally pin-pointed the issue being that pesky OPTION request (understandingly) not including the authorization header (which explains why everything worked in my 3rd party REST-client - not the browser)... Which then allowed me to further Google my way to this thread. THANKS SO MUCH GUYS.

One last detail: having both anonymous and Windows authentication gave me a

[2017-09-06 16:45] Eilon commented on #105
@brockallen yes all changes to scopes are breaking changes.

If a service was assumed to be singleton but is now scoped, other services which are also singletons could have a dependency on it and inadvertently extend the lifetime of that service (to infinity), and perhaps worse, would get one random request's service instance, and try using that with another request.

[2017-09-07 20:02] #125 closed

[2017-09-07 23:50] Eilon commented on #122
These all sound like good ideas.

The `AddDefaultCorsPolicy` method should be `AddDefaultPolicy` because CORS is already implied.

[2017-09-09 18:06] kichalla commented on #122
Apart from adding a default constructor to `EnableCorsAttribute` (which helps MVC scenarios), we probably need to do the same for `UseCors` extension too as it currently expects to provide a policy name always.
https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsMiddlewareExtensions.cs#L20

[2017-09-11 04:18] Eilon commented on #122
That seems perfectly reasonable.

[2017-09-13 00:07] #122 closed

[2017-09-13 00:08] kichalla commented on #122
5eae687ddd2f1a297b39a4099fa52e9280517a33

[2017-09-13 20:55] Eilon commented on #121
Looks like it's settable because that comes from the interface: https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCore.Cors/Infrastructure/IEnableCorsAttribute.cs#L14

Though we could have easily hidden the setter in a variety of ways.

But... this seems low value; I doubt it's really confusing to anyone.

[2017-09-13 20:55] #121 closed

[2017-09-14 15:34] nstohler opened #127 "Using a stricter CORS policy for just one controller"
For ASP.NET Core 2.0

How can apply a stricter CORS policy for just one controller with a "global" (more open) CORS policy already in place?

I added a CORS policy that is very open, so my Angular client has the access it needs.

Now I need to have a stricter CORS policy for just one controller (or methods). I've tried adding the `[DisableCors] `attribute to the controller. I added the `[EnableCor

[2017-09-15 20:33] Eilon commented on #127
@kichalla / @jbagga - do you know if this is possible to do with the system we have today?

Also cc @blowdart in case you happen to know.

[2017-09-15 21:13] jbagga commented on #127
https://docs.microsoft.com/en-us/aspnet/core/security/cors#enabling-cors-in-mvc
`UseCors` is using the CORS middleware which is different from MVC. Can you try the following?

1. Add a filter for the global policy
[code]
2. Decorate the actions that require a stricter policy with `[EnableCors("StricterPolicy")]`

This should work. But if not, please let us know and share the Startup configurations

[2017-09-19 07:29] nstohler commented on #127
That worked! Thanks.

I'm still a bit confused about the CORS middleware/MVC distinction (maybe I should read more about this).

I ended up adding my own middleware still, cause I had to make sure some actions could only be called from another (known) server.

[2017-09-19 07:29] #127 closed

[2017-09-27 17:28] ekirkco commented on #46
I will just comment that this did seem odd to me.  I worked through this issue today.  I ended up returning a header along with a 400 status(Bad Request).  Not necessarily accurate because my use case was a timed out session that I wanted to make the user aware of.  I will warn against using 408(Request Timeout) as the browser will re-send the request(at least if it's a jquery AJAX request) and yo

[2017-10-02 03:56] Eilon commented on #46
cc @rynowak @pranavkm - this will be more interesting as part of our work to make APIs great. I could easily see that "problem" responses and other specifically-API-friendly responses should work well w/ CORS.

[2017-10-09 14:35] Tratcher opened #129 "The 'Access-Control-Allow-Origin' header contains multiple values '*, *', but only one is allowed"
_From @helderboone on October 9, 2017 14:30_

I created an angular 1 app which consumes an RESTfull web service (asp net core 1.1).

I have enabled CORS with the following settings:

`Startup.cs`
[code]
`MetaController.cs`
[code]
The angular http method call
[code]
Any thoughts?

_Copied from original issue: aspnet/Home#2237_

[2017-10-09 14:36] Tratcher commented on #129
What does a Fiddler trace of the headers show?

[2017-10-09 14:41] helderboone commented on #129
I have to point out something. It weirdly sending two request on any http method.
The first gives the error that i described above with the following reponse headers:
[code]
The second request effectively works out storing the data with the following headers:
[code]

[2017-10-09 14:59] helderboone commented on #129
@Tratcher I just made a request through Fiddler and works out with the following headers:
Headers sent to the server:
[code]
Header sent from the server:
[code]

[2017-10-09 16:21] helderboone commented on #129
@Tratcher I thought that the issue could be caused by the app itself. But i created a test using Jquery in order to validate this and it sends two request on browser. So it seems that the first is pre flight request and the second the actual request. The problem is happening on pre flight request ( i suspect).

[2017-10-09 18:55] Tratcher commented on #129
@jbagga can you take a look?

[2017-10-09 19:13] Tratcher opened #130 "Remove duplicate header names and method constants"
https://github.com/aspnet/CORS/blob/df571655acafb39703935a71a977feec023977d0/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsConstants.cs contains header and method string constants that are duplicated with constants in HttpAbstractions.

See
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/HeaderNames.cs
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Mi

[2017-10-11 00:54] jbagga commented on #129
@helderboone Is your issue that `Access-Control-Allow-Origin` header has a value of "*" but your origin is not getting access?

Also I noticed you are trying to use a controller but do not have app.UseMvc()? Did you just not copy that over?

[2017-10-12 01:29] jbagga commented on #129
@helderboone I tried your scenario but cannot repro with `1.1` or `2.0`.

For trying out `2.0.0` you can use the [sample](https://github.com/aspnet/CORS/tree/dev/samples) here.

If you are using `1.1` and need to continue using it, could you please clarify the issue? Are you seeing "*,*" in `Access-Control-Allow-Origin` header instead of "*"?

[2017-10-13 10:37] jackzhp opened #131 "Should CORS be abandoned?"
I think that CORS design is completely unnecessary, and so should be abandoned. I have laid down my arguments, if you think you know this issue pretty well, would you please look at it, and comment it.

https://github.com/jackzhp/CORS-should-retire

[2017-10-13 17:11] Eilon commented on #131
Hi @jackzhp , the CORS component is an optional component that developers can choose to use when appropriate. There are of course many different solutions for making cross-origin requests, and CORS continues to be a very popular, widely adopted pattern.

[2017-10-13 17:11] #131 closed

[2017-10-13 17:11] jbagga commented on #129
Closing for now as it cannot be reproduced.

@helderboone Please feel free to reopen the issue if you run into it again with a repro sample. The samples above should provide a starting point.

[2017-10-13 17:11] #129 closed

[2017-10-14 21:16] helderboone commented on #129
@jbagga Regarding your first question i use `app.UseMvcWithDefaultRoute();`
I should metion that i have been using nginx as reverse proxy and the following settings:
[code]
Running locally there seems to be no issue since the application is running on kestrel. But using nginx as reverse proxy i have got this issue. I'm not saying the problem is nginx.

[2017-10-14 23:13] helderboone commented on #129
@Tratcher I updated my question from original issue https://github.com/aspnet/Home/issues/2237.
Could you update my question in this issue too because i can't edit?

[2017-10-15 00:00] Tratcher commented on #129
@helderboone post your modified question as a comment.

[2017-10-15 01:03] thiagomajesk commented on #129
@jbagga Does those examples work only for localhost (Kestrel) or should they work (as is)  with Nginx as a reverse proxy too? Do I need to make any extra configs on Nginx (like @helderboone's) or not? If yes, what configs?
I'm asking because the docs are not explicit about this and I'm having pretty much the same problem as @helderboone.

[2017-10-16 19:49] jbagga commented on #129
@helderboone Have you tried it without the CORS headers in your conf file? UseCors enables the CORS middleware in your ASP.NET Core which should take care of these headers.
So you can either have nginx do CORS or your ASP.NET Core app do CORS.

@thiagomajesk It should work as is without extra configs. Have you tried just using CORS (https://docs.microsoft.com/en-us/aspnet/core/security/cors) in AS

[2017-10-16 22:49] thiagomajesk commented on #129
@jbagga Thanks for the explanation. I'll definitely validate that. That's it, for now at least.  Thanks again for the clarification :)

[2017-10-31 18:31] arufolo commented on #60
@drano I'm having the same exact issue you were. Preflight now working, but 500 on the subsequent POST. Were you ever able to find a solution to your issue?

[2017-11-15 21:55] maxjanisse opened #133 "GET and POST requests from blocked origin still executed"
I'm trying to implement CORS policies in my ASP .NET Core 2 project (Microsoft.AspNetCore.All 2.0.3 and Microsoft.AspNetCore.Cors 2.0.1). I'm getting some very strange behavior that I can't quite understand the cause of. I created a simple ExpressJs server to simulate a client making cross-origin requests so I can be sure that my API is properly denying access. Instead, I was seeing GET and POST r

[2017-11-15 22:25] dallancarr commented on #133
I'm not sure if you've enabled cors+mvc correctly. Check the docs.
https://docs.microsoft.com/en-us/aspnet/core/security/cors

[2017-11-15 22:44] maxjanisse commented on #133
I used that documentation to do my initial implementation.  After a second look I thought it might've been that I missed this part:
[code]
... but adding that and removing the call to `app.UseCors()` didn't change anything.

If you can think of anything specific in that document for me to try, I'll give it a shot.

[2017-11-15 23:17] dallancarr commented on #133
Looks good.

[code]

[2017-11-16 23:03] PureKrome commented on #90
@Eilon I'd like to add some more input (hopefully valid) to this issue.
NOTE: I was originally going to post this in the `aspnet/Diagnostics` repo because this might be more relevant to the `ExceptionHandlingFilter` instead of the CORS repo .. but I might try here as the context is helpful.

---

I have a very standard ASPNet Core 2.0 '.AddMvcCore()` web app. I then have CORS enabled and all works

[2017-11-22 17:54] Eilon commented on #133
@javiercn / @jbagga can you take a look?

[2017-11-22 20:15] javiercn commented on #133
This is not a bug. It's how CORS works. The request still executes on the server, but the browser denies the page access to the results.

For GET requests CORS allows the browser to directly send the request with an Origin header as GET requests are considered safe (no side-effects).
For other verbs like POST browsers send a preflight request using the OPTIONS method and Allow-access-control-* hea

[2017-11-22 20:15] #133 closed

[2017-11-23 05:34] dougbu opened #134 "Forward `IDisableCorsAttribute` to a more broadly-used package"
`IDisableCorsAttribute` and `DisableCorsAttribute` are located in the Microsoft.AspNetCore.Cors package. This means external frameworks and extensions must reference those packages just to disable the possibly-conflicting features, even if they are aimed at API controllers. That is, they may need to reference Cors to disable CORS in case their consumers reference that package -- but for no other r

[2017-11-27 18:24] Eilon commented on #134
What is the connection between CORS and Web Hooks? Web Hooks are triggered by other servers (e.g. Office 365, GitHub, etc.), whereas CORS is a browser security feature that applies to AJAX requests.

[2017-11-27 18:33] dougbu commented on #134
More the opposite of a connection: It's sensible to _disable_ CORS for WebHook actions.

[2017-11-27 18:46] Eilon commented on #134
My question is when does CORS even apply to this? CORS is used only by browsers, but when is a browser ever calling a web hook?

[2017-11-27 18:49] dougbu commented on #134
If a browser called a web hook, why enable CORS? Except in a the rare case of a receiver that implements "ping" using a simple GET, the request should always fail -- but due to the receiver's normal rules, not because CORS blocks it.

[2017-11-27 19:10] Eilon commented on #134
Browsers never call web hooks, do they?

[2017-11-27 19:13] dougbu commented on #134
Browsers can call almost-any ASP.NET Core endpoint. A WebHooks endpoint is just another URL on the Internet.

[2017-11-27 19:53] Eilon commented on #134
The question isn't whether they *can* - my thermostat can make web calls too, but I don't know whether it supports CORS 😄  The question is whether it's a scenario that happens in practice, and I can't think of a case where it does.

[2017-11-27 19:53] #134 closed

[2017-11-30 21:15] Jungers42 commented on #90
Ugh ... I just spent half a day wrestling with ways to solve this (to aid in our migration from a full framework ASP.NET WebApi project into a new .NET Core API project (.NET Standard 2). After playing lots of games, this was my only reasonable solution to still have the useful dev exception message from the comfort of our actual web app (Chrome dev tools or the like) which is using both OAuth and

[2017-11-30 22:57] PureKrome commented on #90
@Jungers42

1. What happens if there's a 4xx/5xx error when `!env.IsDevelopment()`? No CORS headers then on the response? Assumption: you production "Web App" is SPA.

2. Nitpick: use `StringComparison.OrdinalIgnoreCase` (or whatever enum option suits the scenario) instead of `ToLower` or `ToUpper` for string checks.
[code]

[2017-12-13 12:12] ole1986 opened #136 "EnableCors security and client application concerns"
I am little concerned about the EnableCors used in ASp.NEt Core.

As we know by doing the below:
[code]
I can use the `EnableCors("Api")` to allow XmlHTTPRequest from a different domain.

But what if I use client applications like "Postman" to call my ApiController.
As far as I know Postman does not include the origin and acts as a regular browser.
So `EnableCors([..])` is useless in this case.

S

[2017-12-13 17:54] rynowak commented on #136
CORS requires the cooperation of the client, and only adds value when your end user is a browser.

Enforcing the presence or validity of the `Origin` header doesn't add any security by itself, because any malicious client could send an `Origin` header with a value you expect, there's nothing secret about it.

CORS only works in practice because the browser you end user is using looks at the CORS r

[2017-12-13 19:06] ole1986 commented on #136
"Enforcing the presence or validity of the Origin header doesn't add any security by itself, because any malicious client could send an Origin header with a value you expect, there's nothing secret about it.", -, that ist what i was actually asking

So question is here how to become such things more secure...

API Keys can easily be copied... So what else, antiforgerytoken, OK what else.

I still

[2017-12-13 19:24] rynowak commented on #136
Sorry, I think misunderstood what you're asking 😕

----------

Let's step back a minute, what is your app and who are your clients/end users? Are you securing an API that other apps are going to call? Is this a website that users visit using a browser? both?

CORS and antiforgery and mitigations for some specific issues you have to deal with when your clients are browsers.

----

tagging @blowdart

[2017-12-13 19:29] brockallen commented on #136
HTTP token binding would be the next level of protection.

[2017-12-13 19:51] blowdart commented on #136
CORS is meant for user-agents that support it, which generally is well-behaved browsers. PostMan is not a browser and does not implement CORS, so it's allowed to just go where it wants. CORS does not require you to stop any non-compliant CORS requests because the backend cannot validate what is, and isn't valid, it's a client side check. It's like an old HTTP Refer check, malicious code can spoof

[2017-12-13 21:06] ole1986 commented on #136
@rynowak thank you for reopening.

My goal is to implement something like this as a Web Api:
1. Only a single request should securely authenticate and fetch the necessary information (if authorized of course)
2. ApiController should either be used openly (no-auth, no api key) for specific Controller->Action
3. ApiController should allow calls from SAME  domain using authenticated user (AuthorizeAt

[2017-12-13 21:27] brockallen commented on #136
IMO, having a single API support several different authentication mechanisms is adding complexity, which hurts security. The modern design for this is to centralize security behind a token server, and then the API only trusts tokens from the one token server. Let the token server support the various authentication mechanisms you want to support. That way it's in one place and the API is abstracted

[2017-12-13 22:33] mkArtakMSFT commented on #136
Hi @ole1986, seems like what you're describing is a custom security configuration which you will be able to achieve with authentication model described by @brockallen.

[2017-12-13 22:33] #136 closed

[2017-12-13 22:37] ole1986 commented on #136
@brockallen I agree CORS is not auth. but most often CORS and auth will come together and what I see is a possible lack of "explanation" on how to properly implement both things together (easily).

**To phrase this into a final question which I think I am actually concerned about**
How can I quickly implement an authentication concept (like OAuth) using CORS?

And these are possible answers:
https

[2017-12-20 14:31] glatzert opened #137 "Exception, when origin is null in CorsPolicyExtensions.cs"
After Login with ADFS, Chrome produces an POST request to my ASP.net Application, with the following Contents:

*Metadata*

*Request Headers*

`CorsPolicyExtension.IsOriginAnAllowedSubdomain` will now throw the following:

Which happens, because origin, is `null` and still gets passed to the check function.

Addendum:
Origin is not `null` as I triaged on my first try- it's `"null"` - which might o

[2017-12-27 17:57] mkArtakMSFT commented on #137
@jbagga, can you please investigate this?
@glatzert, can you please share a project we can repro with?

[2017-12-28 08:54] glatzert commented on #137
@mkArtakMSFT I can make some project up, if you like, but essentially use

`app.UseCors(cors => cors.SetIsOriginAllowedToAllowWildcardSubdomains())` anywhere, and then forge a POST with a header `Origin: whatever-non-uir-you-like-here`.

It boils down to missing this one in the code:

`if (!Uri.IsWellFormedUriString(origin, UriKind.Absolute))
   return true;
`

[2017-12-28 17:54] mkArtakMSFT commented on #137
@glatzert, to avoid any misunderstandings, I would appreciate if you could still share the very-minimum project with a repro.

[2017-12-29 08:46] glatzert commented on #137
[CORSRepro.zip](https://github.com/aspnet/CORS/files/1592812/CORSRepro.zip)
Here you go - Edge does not reproduce the Error, but Chrome will do. I did not test Firefox nor Safari

[2018-01-01 06:49] aspnet-hello commented on #137
This issue was moved to aspnet/Home#2318

[2018-01-01 06:55] #137 closed

[2018-01-01 06:57] aspnet-hello commented on #130
This issue was moved to aspnet/Home#2319

[2018-01-01 06:57] #130 closed

[2018-01-01 20:08] aspnet-hello commented on #124
This issue was moved to aspnet/Home#2373

[2018-01-01 20:08] #124 closed

[2018-01-01 20:09] aspnet-hello commented on #123
This issue was moved to aspnet/Home#2374

[2018-01-01 20:09] #123 closed

[2018-01-01 20:09] aspnet-hello commented on #113
This issue was moved to aspnet/Home#2375

[2018-01-01 20:09] #113 closed

[2018-01-01 20:09] aspnet-hello commented on #105
This issue was moved to aspnet/Home#2377

[2018-01-01 20:09] #105 closed

[2018-01-01 20:11] aspnet-hello commented on #90
This issue was moved to aspnet/Home#2378

[2018-01-01 20:11] #90 closed

[2018-01-01 20:11] aspnet-hello commented on #89
This issue was moved to aspnet/Home#2379

[2018-01-01 20:11] #89 closed

[2018-01-02 22:30] Eilon opened #138 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-01-05 17:02] jkotas opened #140 "Why Cors AddPolicy doesn't allow *.example.com ?"
_From @AhmedRagheb on January 5, 2018 13:58_

Hello,

Is there a reason (security may be) that prevent Cors AddPolicy from adding all subdomains of my domain in Origins list. As I think it doesn't make sense to add all my subdomains to the Origins list.

Thanks.

_Copied from original issue: dotnet/coreclr#15753_

[2018-01-05 17:02] jkotas commented on #140
This belongs to https://github.com/aspnet/CORS repo

[2018-01-05 17:05] jkotas commented on #140
Moved again to https://github.com/aspnet/Home/issues/2745

[2018-01-05 17:05] #140 closed

[2018-02-20 10:58] rootwalla commented on #46
Relevant from the other end, on 403 responses:
[Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1439310)
[Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=813516)

[2018-02-28 18:45] izundo-viennv opened #144 "CORS Headers don't display in response"
I created a project using ASP.NET CORE 2.0, I configured Cors middleware, but when I run my project I haven't seen any CORS header in the response. This is my `Startup.cs` file,

[code]

[2018-03-06 18:58] Eilon commented on #144
This issue was moved to aspnet/Home#2927

[2018-03-06 18:58] #144 closed

[2018-03-31 04:07] Lavinski commented on #46
I would like to reopen this issue. The workaround using the MVC filter does not solve the issue in all cases.

The root cause of the issue remains, which is `All matching responses should have CORS headers added`. Any other middleware (not just the `UseExceptionHandler` middleware) can run into this issue.

Looking at [the source code](https://github.com/aspnet/CORS/blob/dev/src/Microsoft.AspNetCo

[2018-04-18 14:24] szalapski commented on #46
Related issue: https://github.com/aspnet/Home/issues/2378

[2018-05-04 14:07] bbsimonbb commented on #46
What on earth have errors to do with CORS? If I turn CORS on, I expect it to be on for everything. This behaviour is perverse and patronising, and would send me running in panic from this framework. As a consumer of a service, how can I integrate if I don't have access to error information. Bangs head against wall. Does any other framework do this?

[2018-05-09 09:18] ry8806 commented on #46
All the issues relating to this bug are being closed. Plus they all reference each other too - it's just a circle of issues!

Does anyone know if this bug going to be addressed? Or do we have to implement said workarounds?
Thanks

[2018-05-16 22:31] jeremysimmons commented on #98
@Eilon first, sorry to necro this post.

This *really* violated the principle of least surprise for me. I was expecting the [EnableCors("Policy")] on my controller to WORK, regardless of the fact that I had used [HttpPost("Route/Template/")] on my controller's action method. At minimum, the [documentation](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-2.0#enabling-cors

[2018-05-16 23:36] Rick-Anderson commented on #98
@jeremysimmons can you propose changes to the doc or submit a PR for that?

[2018-06-10 18:16] felixhayashi commented on #46
I agree with @bbsimonbb, this is somewhat patronising! It is a common pattern to have some kind of high-level middleware that catches Exceptions that bubble up and wrap them in an Error that is then send down to the client. CORS headers should be added to all responses if it has been defined in startup's `Configure` to do so.

@kichalla This argument is pretty weak IMO, as sensitive information ca

[2018-06-10 23:47] Lavinski commented on #46
I'm thinking of starting a PR to see if I can fix this, is that ok?

[2018-06-12 08:09] JulijaRamoskiene commented on #46
This issue would not exist, if CORS middleware was adding headers with OnStarting event, instead of putting them directly to headers dictionary. Can CORS middleware be updated to add headers with OnStarting event?

[2018-06-12 22:29] Lavinski commented on #46
This issue was moved to https://github.com/aspnet/Home/issues/2378

[2018-11-21 11:20] Hammad6264 opened #204 "The ‘Access-Control-Allow-Origin’ header contains multiple values ‘http://localhost:8100, *’, but only one is allowed"
Hy all friends actually I am facing this error
…

Screenshot_1Screenshot_1.png561x531 33.4 KB
Access to fetch at ‘https://MYWEBLINK.com/wp-json/wc/v3/products/categories?consumer_key=ck_MYConsumerKey&consumer_secret=cs_MyConsumerSecretkey’ from origin ‘http://localhost:8100’ has been blocked by CORS policy: The ‘Access-Control-Allow-Origin’ header contains multiple values ‘http://localhost:8100, *

[2018-11-21 23:51] #138 closed